* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
}

nav {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav a img {
  width: 200px;
  height: auto;
}

a img {
  cursor: pointer;
}

ul,
li {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: #414141;
}

li a:hover {
  color: #ff7300;
  border-bottom: 2px solid #ff7300;
}

#menu img {
  display: none;
  height: 20px;
  width: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px 100px;
  width: 100%;
  height: 100%;
}

/* Animal Card style */

.content {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.content:hover{

 transition: all 0.3s ease;
}

.content a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #414141;
  width: 100%;
  height: auto;
  border-radius: 5px;
 position: relative;
}

.content a h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ff7300;
}

.content a .animal{
    width: 100px;
}

a .arrow {
  width: 30px;
  height: auto;
  margin-left: auto;
  margin-right: 20px;
}



@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
  }
  ul {
    display: none;
  }
  #menu img {
    display: block;
  }
}
