* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: auto;

  background: linear-gradient(#000000, #000000d2), url("https://wallpapers.com/images/featured/avengers-vm16xv4a69smdauy.jpg") no-repeat center center;
  background-size: cover;
}

main {
  width: 100%;
  height: 100vh;
  margin-top: 120px;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
}

nav {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000a2;
  color: white;
  padding: 20px 100px;
 
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #fff;
}
li a {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

li a:hover {
  color: #ff0000;
  border-bottom: #ff0000 2px solid;
  transition: all 0.3s ease;
}

nav img {
  width: 150px;
}

.container {
  margin: 40px 0;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #7c7c7c17;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.container h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ff0000;
}

button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  font-size: 1rem;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover {
  background-color: #ff0000b3;
  transition: all 0.3s ease;
}

.gallery {

  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.gallery a {
  border-radius: 10px;
  overflow: hidden;
  border-bottom: #ffffff7a 2px solid;
}

.gallery a:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 20px 100px;
}











