* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #222222;
  height: 100vh;
}


main {
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff2d;
  color: white;
  padding: 20px 100px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #fff;
  text-decoration: none;
}

li {
  text-decoration: none;
  list-style: none;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.gallery a {
  border-radius: 10px;
  overflow: hidden;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: white;
    padding: 20px 100px;
}