* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f0f0f0;
}

nav {
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: #002a60;
  color: white;
   padding: 20px 10%;
}

#table{
    width: 100%;
    padding: 10px 10%;
}

.table{
    width: 100%;
}


.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;

}

tr {
  display: flex;
  flex-direction: row !important;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  text-transform: capitalize;
  align-items: center;
}

td img {
  border-radius: 50%;
  object-fit: cover;
}

.buttons{
    width: 100%;
    display: flex;
    padding: 20px 10%;
    gap: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  background-color: #002a60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
